<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blog</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
	<h1><%= title %></h1>
</header>

<ul class="sideBar">
	<li><a title='主页' href="/">home</a></li>
	<li><a href="/archive" title='存档'>archive</a></li>
	<% if (user) { %>
		<li><a title="发表" href="/post">post</a></li>
		<li><a title="上传图片" href="/upload">upload</a></li>
		<li><a title="登出" href="/logout">logout</a></li>
	<% }else { %>
		<li><a title='登录' href="/login">login</a></li>
		<li><a title='注册' href="/reg">register</a></li>
	<% }%>
</ul>
<div class="article">
	
