<%- include header %>
<form action="/post" method='post'>
	标题：<br/>
	<input name="title" type="text"/><br/>
	正文：<br/>
	<textarea name="post" id="" cols="100" rows="20"></textarea><br/>
	<button class="submit"></button>
</form>
<%- include footer %>