*{
	margin: 0;
	padding: 0;
	list-style: none;
	border: 0;
}



ul.sideBar{
	width: 50px;
	height: 200px;
	float: left;
	margin: 5px 30px;
}
ul.sideBar li{
	width: 100%;
	height: 30px;
	line-height: 30px;
}


header{
	margin: 16px 128px;
	width: 100px;
	height: 50px;
	border-bottom: 1px solid #ccc;
}

div.article{
	float: left;
	margin: 5px 20px;
}


input{
	display: inline-block;
	border: 1px solid #ccc;
	width: 100px;
	height: 30px;
}

.submit{
	width: 50px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: pink;
}